#questionTwo,

#questionThree,

#questionFour,

#questionFive,

#questionSix,

#deathOne,

#deathTwo,

#deathThree,

#deathFour,

#deathFive,

#deathSix,


#ending {

display: none;

}



body {

font-family: 'Helvetica', sans-serif;

color: white;

background-color: lightcoral;

}





img {

display: block;

margin-top: 5%;

margin-left: auto;

margin-right: auto;

width: 50%;

}



h1{

font-size: 50px;

width: 70%;

margin-left: 90%;

margin-right: 5%;

text-transform: uppercase;

font-weight: 100;

}



h2{

width: 100%;

margin-left: 15%;

margin-right: 5%;

margin-bottom: 3%;

}





a {

text-decoration: none;

color: white;

transition: color 0.5s;

}



a:hover,

a:active {

text-decoration: none;

color: red;

}



p{

font-size: 25px;

line-height: 125%;

width: 70%;

margin-left: 15%;

margin-right: 5%;

}



#buttons{

width: 70%;

margin-left: 25%;

margin-right: 5%;

}



button{

background-color: purple;

border: 5px solid white;

border-radius: 20px;

padding: 20px 20px;

margin-right: 10px;

color: white;

font-weight: 250;

font-size: 17px;

transition: color 0.5s;

}



button:hover {



color: gold;

}





.retry {

letter-spacing: 2px;

text-align: center;

text-transform: uppercase;

margin-top: 5%;

}

